<!DOCTYPE html>

<html>
	<head>
		<title>Angular.js Class</title>
		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/angular/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">

				Color Filter: <input ng-model="colorFilter">
				<ul>
					<li ng-repeat="color in colors | filter:colorFilter">{{$index}} {{color}} {{$odd}}</li>
				</ul>

				<ul>
					<li ng-repeat="car in cars">{{car.make}} {{car.model}} {{car.color}}</li>
				</ul>

			</div>
		</div>
		<script>

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope) {

					$scope.colors = ["black", "red", "white",
						"blue", "green", "yellow", "brown", "purple", "orange"];

					$scope.cars = [
						{ make: "Skoda", model: "Rapid", color: "blue" },
						{ make: "BMW", model: "Mini Cooper", color: "red" },
						{ make: "Honda", model: "Accord", color: "black" },
						{ make: "Audi", model: "A3", color: "blue" }
					];

				});

		</script>
	</body>
</html>
