<!DOCTYPE html>

<html>
	<head>
		<title>Angular.js Class</title>
		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/angular/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			Parent Message: {{obj.message}}<br>
			Parent Message: <input ng-model="obj.message">
			<div ng-controller="MyCtrl">
				Child Message: {{obj.message}}<br>
				Child Message: <input ng-model="obj.message">
			</div>
		</div>
		<script>

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope, $rootScope) {
					$rootScope.obj = {};
				});

		</script>
	</body>
</html>
