<!DOCTYPE html>

<html>
	<head>
		<title>Angular.js Class</title>
		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/angular/angular.js"></script>
		<style>

			.tabs > ul {
				list-style-type:none;
				margin:0;
				padding:0;
			}

			.tabs > ul > li {
				display:inline-block;
				border: 1px solid black;
				padding:5px;
			}

			.tabs > div {
				border: 1px solid blue;
				padding:5px;
			}

			.tabs .active {
				border: 1px solid blue;
			}

		</style>

	</head>

	<body>

		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				<tabs active-tab-id="tab2">
					<tab tab-id="tab1" tab-caption="Tab 1">Tab 1 Content</tab>
					<tab tab-id="tab2" tab-caption="Tab 2">Tab 2 Content</tab>
					<tab tab-id="tab3" tab-caption="Tab 3">Tab 3 Content</tab>
					<tab tab-id="tab4" tab-caption="Tab 4">Tab 4 Content</tab>
				</tabs>

			</div>
		</div>

		<script>

			"use strict";

			angular.module("MyApp", [])
				.controller("tabsCtrl", function($scope, $element, $attrs) {

					this.addTab = function(tabId, tabCaption, tabContent) {
						$scope.tabs.push({
							tabId: tabId,
							tabCaption: tabCaption,
							tabContent: tabContent
						});
					};

				})
				.directive("tabs", function($compile) {

					return {
						restrict: "E",
						controller: "tabsCtrl",
						compile: function() {

							return {
								pre: function(scope, element, attrs) {

									scope.tabs = [];
									scope.activeTabId = attrs.activeTabId;

									scope.activateTab = function(tabId) {
										scope.activeTabId = tabId;
									};

								},
								post: function(scope, element, attrs) {

									element.empty();

									var tpl = "<div class='tabs'><ul><li ng-repeat='tab in tabs' ng-click='activateTab(tab.tabId)' ng-class='{active:activeTabId === tab.tabId}'>{{tab.tabCaption}}</li></ul>";
									tpl += "<div ng-repeat='tab in tabs' ng-if='activeTabId === tab.tabId'>{{tab.tabContent}}</div></div>";
									var linkingFn = $compile(tpl);
									var domElements = linkingFn(scope);
									element.append(domElements);

								}
							};

						}

					};

				})
				.directive("tab", function() {

					return {
						restrict: "E",
						require: "^tabs",
						link: function(scope, element, attrs, ctrl) {
							ctrl.addTab(attrs.tabId, attrs.tabCaption, element.html());
						}
					};

				})
				.controller("MyCtrl", function($scope) {

				});

		</script>
	</body>
</html>
